.googlesitekit-rrm-setup-cta-banner {

	&.googlesitekit-banner {
		background: linear-gradient(180deg, #FFF 9.13%, #D0FBE1 76.44%) center bottom / auto 146px no-repeat;

		.googlesitekit-widget & {
			border-radius: 0;
		}

		p.googlesitekit-banner__title {
			@include googlesitekit-typography(title, medium);
			margin-block-end: 10px;
		}

		.googlesitekit-banner__description p:first-child {
			margin-block-end: 4px;
		}

		.googlesitekit-notice__action {
			margin-block-end: 0;

			> .mdc-button {
				margin-block-start: 16px;
			}
		}

		@media (min-width: $bp-nonMobile) {
			p.googlesitekit-banner__title {
				@include googlesitekit-typography(headline, small);
			}
		}

		@media (min-width: $bp-nonTablet) {
			background: linear-gradient(90deg, #FFF 40.36%, #D0FBE1 88.55%);

			p.googlesitekit-banner__title,
			.googlesitekit-banner__description p:first-child {
				margin-block-end: 7px;
			}

			p.googlesitekit-banner__title {
				@include googlesitekit-typography(headline, medium);
			}
		}
	}
}
