node_modules
bower_components
vendor
!/assets/sass/vendor
/php-scoper/*
!/php-scoper/composer.*
!/php-scoper/README.md
/third-party
/includes/Core/Assets/Manifest.php
/release
phpunit.xml
.idea
npm-debug.log
/dist
/languages
/storybook-static
google-site-kit*.zip

# Editors
*.esproj
*.tmproj
*.tmproject
tmtags
.*.sw[a-z]
*.un~
Session.vim
*.swp
.vscode

# Mac OSX
.DS_Store
._*
.Spotlight-V100
.Trashes

# Windows
Thumbs.db
Desktop.ini

# Backstop
tests/backstop/html_report/
tests/backstop/tests/

# Jest coverage
coverage/
