node_modules
bower_components
vendor
!/assets/sass/vendor
/php-scoper/*
!/php-scoper/composer.*
!/php-scoper/README.md
/third-party
/release
phpunit.xml
.idea
npm-debug.log
/dist
/languages
/storybook-static
google-site-kit*.zip
.phpunit.result.cache

# Editors
*.esproj
*.tmproj
*.tmproject
tmtags
*.un~
Session.vim
*.swp

# Config files
.*
!.github
!.vscode/extensions.json
!.vscode/settings.json
!.editorconfig
!.eslintignore
!.eslintrc.json
!.eslintrc.staged.json
!.gitignore
!.nvmrc
!.prettierignore
!.prettierrc.js
!.stylelintrc
!.svgo.yml

# Mac OSX
.DS_Store
._*
.Spotlight-V100
.Trashes

# Windows
Thumbs.db
Desktop.ini

# Backstop
tests/backstop/*_report/
tests/backstop/tests/

# Jest
coverage/
tests/e2e/screenshots
