{
  "extends": [
	  "@wordpress/stylelint-config/scss"
  ],
  "plugins": [
    "stylelint-declaration-use-variable",
    "stylelint-order",
    "stylelint-scss"
  ],
  "rules": {
    "string-quotes": "double",
    "at-rule-no-unknown": null,
    "function-url-quotes": "always",
    "selector-class-pattern": null,
	"declaration-property-unit-allowed-list": null,
    "sh-waqar/declaration-use-variable": [["/color/", { "ignoreValues": ["/^rgba/", "transparent"] }]],
    "order/properties-alphabetical-order": true,
	"scss/selector-no-redundant-nesting-selector": null,
    "scss/at-rule-no-unknown": true,
    "value-keyword-case": [ "lower", {
        "ignoreKeywords": ["/([A-Z])/"]
      }
    ]
  }
}