{
  "extends": [
    "@wordpress/stylelint-config",
    "stylelint-config-standard-scss"
  ],
  "plugins": [
    "stylelint-declaration-strict-value",
    "stylelint-order",
    "stylelint-scss"
  ],
  "rules": {
    "indentation": "tab",
    "declaration-empty-line-before": null,
    "scss/no-global-function-names": null,
    "scss/dollar-variable-empty-line-before": null,
    "scss/at-extend-no-missing-placeholder": null,
    "scss/dollar-variable-pattern": null,
    "color-function-notation": null,
    "alpha-value-notation": null,
    "rule-empty-line-before": null,
    "at-rule-empty-line-before": null,
    "string-quotes": "double",
    "at-rule-no-unknown": null,
    "declaration-property-unit-allowed-list": null,
    "function-url-quotes": "always",
    "selector-class-pattern": null,
    "order/properties-alphabetical-order": true,
    "value-keyword-case": [ "lower", {
        "ignoreKeywords": ["/([A-Z])/"]
      }
    ],
    "selector-nested-pattern": "^(?!&__|&--|&-|&_).*"
  }
}