# Site Kit by Google, Copyright 2019 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

sudo: required

dist: trusty

language: php

notifications:
  email:
    on_success: never
    on_failure: change

cache:
  directories:
    - $HOME/.composer/cache
    - $HOME/.phpbrew
    - $HOME/.npm

branches:
  only:
    - master
    - develop

# Before install, failures in this section will result in build status 'errored'
before_install:
  - |
    if [[ "$WP_VERSION" == "latest" ]]; then
      curl -s http://api.wordpress.org/core/version-check/1.7/ > /tmp/wp-latest.json
      WP_VERSION=$(grep -o '"version":"[^"]*' /tmp/wp-latest.json | sed 's/"version":"//')
    fi
  - git clone --depth=1 --branch="$WP_VERSION" git://develop.git.wordpress.org/ /tmp/wordpress
  - cp /tmp/wordpress/wp-tests-config-sample.php /tmp/wordpress/tests/phpunit/wp-tests-config.php

before_script:
  - export WP_DEVELOP_DIR=/tmp/wordpress
  - export WP_TESTS_DIR=/tmp/wordpress/tests/phpunit
  - npm install -g gulp-cli
  - composer install
  - bash tests/bin/install-wp-tests.sh wordpress_test root '' localhost

script:
  - npm install || exit 1
  - |
    if [[ "$SNIFF" == "1" ]]; then
      gulp phpcs || exit 1
    fi
  - |
    if [[ "$JS" == "1" ]]; then
      travis_retry npm run travis:test || exit 1
    else
      gulp phpunit || exit 1
    fi

matrix:
  include:
    - stage: test
      php: 5.4
      env: WP_VERSION=4.7 PHPCS_PHP_VERSION='5.4' SNIFF=1
    - stage: test
      php: 5.6
      env: WP_VERSION=latest
    - stage: test
      php: 7.3
      env: WP_VERSION=latest
    - stage: test
      php: 7.3
      env: WP_VERSION=latest JS=1
    - stage: test
      php: 'nightly'
      env: WP_VERSION=master
  allow_failures:
    - php: 'nightly'
      env: WP_VERSION=master

services:
  - docker
