includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
    - tests/phpstan/phpstan-baseline.neon

parameters:
    level: 3
    treatPhpDocTypesAsCertain: false
    inferPrivatePropertyTypeFromConstructor: true
    paths:
        - %currentWorkingDirectory%/google-site-kit.php
        - %currentWorkingDirectory%/includes/
    bootstrapFiles:
        - %currentWorkingDirectory%/google-site-kit.php
        - %currentWorkingDirectory%/tests/phpstan/constants.php
        - %currentWorkingDirectory%/vendor/php-stubs/woocommerce-stubs/woocommerce-stubs.php
        - %currentWorkingDirectory%/vendor/php-stubs/wp-cli-stubs/wp-cli-stubs.php
    scanDirectories:
        - %currentWorkingDirectory%/gtg
        - %currentWorkingDirectory%/third-party
