parameters:
	ignoreErrors:
		-
			rawMessage: 'Property Google\Site_Kit\Core\Conversion_Tracking\Conversion_Event_Providers\WooCommerce::$add_to_cart (WC_Product) does not accept array.'
			identifier: assign.propertyType
			count: 1
			path: ../../includes/Core/Conversion_Tracking/Conversion_Event_Providers/WooCommerce.php

		-
			rawMessage: 'Method Google\Site_Kit\Core\Email\Email::send() should return bool|WP_Error but returns null.'
			identifier: return.type
			count: 1
			path: ../../includes/Core/Email/Email.php

		-
			rawMessage: 'Method Google\Site_Kit\Core\Email_Reporting\Email_Report_Section_Builder::build_sections() should return array<Google\Site_Kit\Core\Email_Reporting\Email_Report_Data_Section_Part> but returns WP_Error.'
			identifier: return.type
			count: 1
			path: ../../includes/Core/Email_Reporting/Email_Report_Section_Builder.php

		-
			rawMessage: 'Method Google\Site_Kit\Core\Site_Health\Tag_Placement::check_if_tag_exists() should return bool but returns string.'
			identifier: return.type
			count: 4
			path: ../../includes/Core/Site_Health/Tag_Placement.php

		-
			rawMessage: 'Method Google\Site_Kit\Modules\AdSense::has_placed_tag_in_content() should return bool but returns int.'
			identifier: return.type
			count: 3
			path: ../../includes/Modules/AdSense.php

		-
			rawMessage: 'Method Google\Site_Kit\Modules\AdSense\Ad_Blocking_Recovery_Web_Tag::get_dns_prefetch_hints_callback() should return array but returns Closure.'
			identifier: return.type
			count: 1
			path: ../../includes/Modules/AdSense/Ad_Blocking_Recovery_Web_Tag.php

		-
			rawMessage: 'Method Google\Site_Kit\Modules\AdSense\Web_Tag::get_dns_prefetch_hints_callback() should return array but returns Closure.'
			identifier: return.type
			count: 1
			path: ../../includes/Modules/AdSense/Web_Tag.php

		-
			rawMessage: 'Method Google\Site_Kit\Modules\Ads::has_placed_tag_in_content() should return bool but returns int.'
			identifier: return.type
			count: 3
			path: ../../includes/Modules/Ads.php

		-
			rawMessage: 'Method Google\Site_Kit\Modules\Analytics_4::get_analyticsadminv1alpha_service() should return Google\Site_Kit_Dependencies\Google\Service\GoogleAnalyticsAdminV1alpha but returns Google\Site_Kit_Dependencies\Google\Service.'
			identifier: return.type
			count: 1
			path: ../../includes/Modules/Analytics_4.php

		-
			rawMessage: 'Method Google\Site_Kit\Modules\Analytics_4::get_analyticsdata_service() should return Google\Site_Kit_Dependencies\Google\Service\AnalyticsData but returns Google\Site_Kit_Dependencies\Google\Service.'
			identifier: return.type
			count: 1
			path: ../../includes/Modules/Analytics_4.php

		-
			rawMessage: 'Method Google\Site_Kit\Modules\Analytics_4::get_tagmanager_service() should return Google\Site_Kit_Dependencies\Google\Service\TagManager but returns Google\Site_Kit_Dependencies\Google\Service.'
			identifier: return.type
			count: 1
			path: ../../includes/Modules/Analytics_4.php

		-
			rawMessage: 'Method Google\Site_Kit\Modules\Analytics_4::has_placed_tag_in_content() should return bool but returns int.'
			identifier: return.type
			count: 3
			path: ../../includes/Modules/Analytics_4.php

		-
			rawMessage: 'Method Google\Site_Kit\Modules\Analytics_4::parse_webdatastreams_batch() should return array<stdClass> but returns array<list<stdClass>>.'
			identifier: return.type
			count: 1
			path: ../../includes/Modules/Analytics_4.php

		-
			rawMessage: 'Property Google\Site_Kit\Modules\Analytics_4\AMP_Tag::$custom_dimensions (array) does not accept string.'
			identifier: assign.propertyType
			count: 1
			path: ../../includes/Modules/Analytics_4/AMP_Tag.php

		-
			rawMessage: 'Method Google\Site_Kit\Modules\Analytics_4\Report\RequestHelpers::get_metric_filter_expression() should return Google\Site_Kit_Dependencies\Google\Service\AnalyticsData\FilterExpression but returns null.'
			identifier: return.type
			count: 1
			path: ../../includes/Modules/Analytics_4/Report/RequestHelpers.php

		-
			rawMessage: 'Method Google\Site_Kit\Modules\Analytics_4\Report\RequestHelpers::parse_dimension_filter() should return Google\Site_Kit_Dependencies\Google\Service\AnalyticsData\FilterExpression but returns null.'
			identifier: return.type
			count: 1
			path: ../../includes/Modules/Analytics_4/Report/RequestHelpers.php

		-
			rawMessage: 'Method Google\Site_Kit\Modules\Analytics_4\Report\RequestHelpers::parse_metric_filter() should return Google\Site_Kit_Dependencies\Google\Service\AnalyticsData\FilterExpression but returns null.'
			identifier: return.type
			count: 5
			path: ../../includes/Modules/Analytics_4/Report/RequestHelpers.php

		-
			rawMessage: 'Method Google\Site_Kit\Modules\Analytics_4\Report\RequestHelpers::parse_metric_filters() should return Google\Site_Kit_Dependencies\Google\Service\AnalyticsData\FilterExpression but returns null.'
			identifier: return.type
			count: 1
			path: ../../includes/Modules/Analytics_4/Report/RequestHelpers.php

		-
			rawMessage: 'Method Google\Site_Kit\Modules\Analytics_4\Report\RequestHelpers::shared_create_request() should return Google\Site_Kit_Dependencies\Google\Service\AnalyticsData\RunReportRequest but returns WP_Error.'
			identifier: return.type
			count: 2
			path: ../../includes/Modules/Analytics_4/Report/RequestHelpers.php

		-
			rawMessage: 'Property Google\Site_Kit\Modules\Analytics_4\Web_Tag::$custom_dimensions (array) does not accept string.'
			identifier: assign.propertyType
			count: 1
			path: ../../includes/Modules/Analytics_4/Web_Tag.php

		-
			rawMessage: 'Argument of an invalid type Google\Site_Kit_Dependencies\Google\Service\SubscribewithGoogle\PaymentOptions supplied for foreach, only iterables are supported.'
			identifier: foreach.nonIterable
			count: 1
			path: ../../includes/Modules/Reader_Revenue_Manager.php

		-
			rawMessage: 'Method Google\Site_Kit\Modules\Reader_Revenue_Manager::has_placed_tag_in_content() should return bool but returns int.'
			identifier: return.type
			count: 3
			path: ../../includes/Modules/Reader_Revenue_Manager.php

		-
			rawMessage: 'Method Google\Site_Kit\Modules\Reader_Revenue_Manager\Web_Tag::get_dns_prefetch_hints_callback() should return array but returns Closure.'
			identifier: return.type
			count: 1
			path: ../../includes/Modules/Reader_Revenue_Manager/Web_Tag.php

		-
			rawMessage: 'Method Google\Site_Kit\Modules\Search_Console::get_searchconsole_service() should return Google\Site_Kit_Dependencies\Google\Service\SearchConsole but returns Google\Site_Kit_Dependencies\Google\Service.'
			identifier: return.type
			count: 1
			path: ../../includes/Modules/Search_Console.php

		-
			rawMessage: 'Method Google\Site_Kit\Modules\Sign_In_With_Google::has_placed_tag_in_content() should return bool but returns int.'
			identifier: return.type
			count: 2
			path: ../../includes/Modules/Sign_In_With_Google.php

		-
			rawMessage: 'Return type (bool) of method Google\Site_Kit\Modules\Sign_In_With_Google\Compatibility_Checks\WP_COM_Check::run() should be compatible with return type (array) of method Google\Site_Kit\Modules\Sign_In_With_Google\Compatibility_Checks\Compatibility_Check::run()'
			identifier: method.childReturnType
			count: 1
			path: ../../includes/Modules/Sign_In_With_Google/Compatibility_Checks/WP_COM_Check.php

		-
			rawMessage: 'Return type (bool) of method Google\Site_Kit\Modules\Sign_In_With_Google\Compatibility_Checks\WP_Login_Accessible_Check::run() should be compatible with return type (array) of method Google\Site_Kit\Modules\Sign_In_With_Google\Compatibility_Checks\Compatibility_Check::run()'
			identifier: method.childReturnType
			count: 1
			path: ../../includes/Modules/Sign_In_With_Google/Compatibility_Checks/WP_Login_Accessible_Check.php

		-
			rawMessage: 'Property Google\Site_Kit\Modules\Sign_In_With_Google\Web_Tag::$settings (Google\Site_Kit\Modules\Sign_In_With_Google\Settings) does not accept array.'
			identifier: assign.propertyType
			count: 1
			path: ../../includes/Modules/Sign_In_With_Google/Web_Tag.php

		-
			rawMessage: 'Method Google\Site_Kit\Modules\Site_Verification::get_siteverification_service() should return Google\Site_Kit_Dependencies\Google\Service\SiteVerification but returns Google\Site_Kit_Dependencies\Google\Service.'
			identifier: return.type
			count: 1
			path: ../../includes/Modules/Site_Verification.php

		-
			rawMessage: 'Method Google\Site_Kit\Modules\Tag_Manager::get_tagmanager_service() should return Google\Site_Kit_Dependencies\Google\Service\TagManager but returns Google\Site_Kit_Dependencies\Google\Service.'
			identifier: return.type
			count: 1
			path: ../../includes/Modules/Tag_Manager.php

		-
			rawMessage: 'Method Google\Site_Kit\Modules\Tag_Manager::has_placed_tag_in_content() should return bool but returns int.'
			identifier: return.type
			count: 3
			path: ../../includes/Modules/Tag_Manager.php

		-
			rawMessage: 'Method Google\Site_Kit\Modules\Tag_Manager\Web_Tag::get_dns_prefetch_hints_callback() should return array but returns Closure.'
			identifier: return.type
			count: 1
			path: ../../includes/Modules/Tag_Manager/Web_Tag.php
