{
  "discoveryVersion": "v1",
  "schemas": {
    "CustomChannel": {
      "type": "object",
      "id": "CustomChannel",
      "properties": {
        "reportingDimensionId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Unique ID of the custom channel as used in the `CUSTOM_CHANNEL_ID` reporting dimension."
        },
        "displayName": {
          "description": "Required. Display name of the custom channel.",
          "type": "string"
        },
        "name": {
          "description": "Output only. Resource name of the custom channel. Format: accounts/{account}/adclients/{adclient}/customchannels/{customchannel}",
          "type": "string",
          "readOnly": true
        },
        "active": {
          "description": "Whether the custom channel is active and collecting data. See https://support.google.com/adsense/answer/10077192.",
          "type": "boolean"
        }
      },
      "description": "Representation of a custom channel."
    },
    "SavedReport": {
      "id": "SavedReport",
      "type": "object",
      "description": "Representation of a saved report.",
      "properties": {
        "title": {
          "type": "string",
          "description": "Report title as specified by publisher."
        },
        "name": {
          "type": "string",
          "description": "Output only. Resource name of the report. Format: accounts/{account}/reports/{report}",
          "readOnly": true
        }
      }
    },
    "ContentAdsSettings": {
      "type": "object",
      "description": "Settings specific to content ads (AFC).",
      "properties": {
        "type": {
          "enumDescriptions": [
            "Unspecified ad unit type.",
            "Display ad unit.",
            "In-feed ad unit.",
            "In-article ad unit.",
            "Matched content unit.",
            "Link ad unit. Note that link ad units have now been retired, see https://support.google.com/adsense/answer/9987221."
          ],
          "description": "Required. Type of the ad unit.",
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            true
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "DISPLAY",
            "FEED",
            "ARTICLE",
            "MATCHED_CONTENT",
            "LINK"
          ],
          "type": "string"
        },
        "size": {
          "description": "Required. Size of the ad unit. e.g. \"728x90\", \"1x3\" (for responsive ad units).",
          "type": "string"
        }
      },
      "id": "ContentAdsSettings"
    },
    "Account": {
      "properties": {
        "timeZone": {
          "description": "The account time zone, as used by reporting. For more information, see [changing the time zone of your reports](https://support.google.com/adsense/answer/9830725).",
          "$ref": "TimeZone"
        },
        "displayName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Display name of this account."
        },
        "name": {
          "type": "string",
          "description": "Output only. Resource name of the account. Format: accounts/pub-[0-9]+",
          "readOnly": true
        },
        "pendingTasks": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. Outstanding tasks that need to be completed as part of the sign-up process for a new account. e.g. \"billing-profile-creation\", \"phone-pin-verification\".",
          "readOnly": true
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Creation time of the account.",
          "readOnly": true
        },
        "state": {
          "description": "Output only. State of the account.",
          "enumDescriptions": [
            "State unspecified.",
            "The account is open and ready to serve ads.",
            "There are some issues with this account. Publishers should visit AdSense in order to fix the account.",
            "The account is closed and can't serve ads."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "READY",
            "NEEDS_ATTENTION",
            "CLOSED"
          ]
        },
        "premium": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Whether this account is premium. Premium accounts have access to additional spam-related metrics."
        }
      },
      "id": "Account",
      "description": "Representation of an account.",
      "type": "object"
    },
    "Site": {
      "description": "Representation of a Site.",
      "type": "object",
      "id": "Site",
      "properties": {
        "domain": {
          "type": "string",
          "description": "Domain (or subdomain) of the site, e.g. \"example.com\" or \"www.example.com\". This is used in the `OWNED_SITE_DOMAIN_NAME` reporting dimension."
        },
        "autoAdsEnabled": {
          "description": "Whether auto ads is turned on for the site.",
          "type": "boolean"
        },
        "reportingDimensionId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Unique ID of the site as used in the `OWNED_SITE_ID` reporting dimension."
        },
        "name": {
          "type": "string",
          "description": "Output only. Resource name of a site. Format: accounts/{account}/sites/{site}",
          "readOnly": true
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "State unspecified.",
            "Either: * The site hasn't been checked yet. * The site is inactive and needs another review before it can show ads again. Learn how to [request a review for an inactive site](https://support.google.com/adsense/answer/9393996).",
            "Google is running some checks on the site. This usually takes a few days, but in some cases it can take two to four weeks.",
            "The site is ready to show ads. Learn how to [set up ads on the site](https://support.google.com/adsense/answer/7037624).",
            "Publisher needs to fix some issues before the site is ready to show ads. Learn what to do [if a new site isn't ready](https://support.google.com/adsense/answer/9061852)."
          ],
          "description": "Output only. State of a site.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "REQUIRES_REVIEW",
            "GETTING_READY",
            "READY",
            "NEEDS_ATTENTION"
          ]
        }
      }
    },
    "Header": {
      "description": "The header information of the columns requested in the report.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. Name of the header."
        },
        "type": {
          "description": "Required. Type of the header.",
          "enum": [
            "HEADER_TYPE_UNSPECIFIED",
            "DIMENSION",
            "METRIC_TALLY",
            "METRIC_RATIO",
            "METRIC_CURRENCY",
            "METRIC_MILLISECONDS",
            "METRIC_DECIMAL"
          ],
          "enumDescriptions": [
            "Unspecified header.",
            "Dimension header type.",
            "Tally header type.",
            "Ratio header type.",
            "Currency header type.",
            "Milliseconds header type.",
            "Decimal header type."
          ],
          "type": "string"
        },
        "currencyCode": {
          "type": "string",
          "description": "The [ISO-4217 currency code](https://en.wikipedia.org/wiki/ISO_4217) of this column. Only present if the header type is METRIC_CURRENCY."
        }
      },
      "type": "object",
      "id": "Header"
    },
    "ListAdUnitsResponse": {
      "description": "Response definition for the adunit list rpc.",
      "type": "object",
      "properties": {
        "adUnits": {
          "type": "array",
          "items": {
            "$ref": "AdUnit"
          },
          "description": "The ad units returned in the list response."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token used to page through ad units. To retrieve the next page of the results, set the next request's \"page_token\" value to this."
        }
      },
      "id": "ListAdUnitsResponse"
    },
    "Alert": {
      "id": "Alert",
      "description": "Representation of an alert.",
      "properties": {
        "message": {
          "description": "Output only. The localized alert message. This may contain HTML markup, such as phrase elements or links.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Resource name of the alert. Format: accounts/{account}/alerts/{alert}"
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Type of alert. This identifies the broad type of this alert, and provides a stable machine-readable identifier that will not be translated. For example, \"payment-hold\"."
        },
        "severity": {
          "enumDescriptions": [
            "Unspecified severity.",
            "Info.",
            "Warning.",
            "Severe."
          ],
          "readOnly": true,
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "INFO",
            "WARNING",
            "SEVERE"
          ],
          "type": "string",
          "description": "Output only. Severity of this alert."
        }
      },
      "type": "object"
    },
    "ListAlertsResponse": {
      "description": "Response definition for the alerts list rpc.",
      "id": "ListAlertsResponse",
      "type": "object",
      "properties": {
        "alerts": {
          "items": {
            "$ref": "Alert"
          },
          "type": "array",
          "description": "The alerts returned in this list response."
        }
      }
    },
    "ListLinkedAdUnitsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Continuation token used to page through ad units. To retrieve the next page of the results, set the next request's \"page_token\" value to this.",
          "type": "string"
        },
        "adUnits": {
          "type": "array",
          "description": "The ad units returned in the list response.",
          "items": {
            "$ref": "AdUnit"
          }
        }
      },
      "type": "object",
      "id": "ListLinkedAdUnitsResponse",
      "description": "Response definition for the ad units linked to a custom channel list rpc."
    },
    "ListPolicyIssuesResponse": {
      "type": "object",
      "id": "ListPolicyIssuesResponse",
      "description": "Response definition for the policy issues list rpc. Policy issues are reported only if the publisher has at least one AFC ad client in READY or GETTING_READY state. If the publisher has no such AFC ad client, the response will be an empty list.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token used to page through policy issues. To retrieve the next page of the results, set the next request's \"page_token\" value to this."
        },
        "policyIssues": {
          "items": {
            "$ref": "PolicyIssue"
          },
          "description": "The policy issues returned in the list response.",
          "type": "array"
        }
      }
    },
    "Row": {
      "type": "object",
      "properties": {
        "cells": {
          "items": {
            "$ref": "Cell"
          },
          "description": "Cells in the row.",
          "type": "array"
        }
      },
      "description": "Row representation.",
      "id": "Row"
    },
    "ListPaymentsResponse": {
      "properties": {
        "payments": {
          "description": "The payments returned in this list response.",
          "items": {
            "$ref": "Payment"
          },
          "type": "array"
        }
      },
      "id": "ListPaymentsResponse",
      "type": "object",
      "description": "Response definition for the payments list rpc."
    },
    "Cell": {
      "properties": {
        "value": {
          "type": "string",
          "description": "Value in the cell. The dimension cells contain strings, and the metric cells contain numbers."
        }
      },
      "id": "Cell",
      "description": "Cell representation.",
      "type": "object"
    },
    "AdUnitAdCode": {
      "properties": {
        "adCode": {
          "description": "Output only. The code snippet to add to the body of an HTML page.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Representation of the ad unit code for a given ad unit. For more information, see [About the AdSense code](https://support.google.com/adsense/answer/9274634) and [Where to place the ad code in your HTML](https://support.google.com/adsense/answer/9190028).",
      "id": "AdUnitAdCode"
    },
    "AdClientAdCode": {
      "description": "Representation of the AdSense code for a given ad client. For more information, see [About the AdSense code](https://support.google.com/adsense/answer/9274634).",
      "properties": {
        "ampBody": {
          "description": "Output only. The AdSense code snippet to add to the body of an AMP page.",
          "type": "string",
          "readOnly": true
        },
        "ampHead": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The AdSense code snippet to add to the head of an AMP page."
        },
        "adCode": {
          "description": "Output only. The AdSense code snippet to add to the head of an HTML page.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "AdClientAdCode",
      "type": "object"
    },
    "AdClient": {
      "type": "object",
      "id": "AdClient",
      "description": "Representation of an ad client. An ad client represents a user's subscription with a specific AdSense product.",
      "properties": {
        "productCode": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Reporting product code of the ad client. For example, \"AFC\" for AdSense for Content. Corresponds to the `PRODUCT_CODE` dimension, and present only if the ad client supports reporting."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Resource name of the ad client. Format: accounts/{account}/adclients/{adclient}"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "READY",
            "GETTING_READY",
            "REQUIRES_REVIEW"
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. State of the ad client.",
          "enumDescriptions": [
            "State unspecified.",
            "The ad client is ready to show ads.",
            "Running some checks on the ad client before it is ready to serve ads.",
            "The ad client hasn't been checked yet. There are tasks pending before AdSense will start the review."
          ]
        },
        "reportingDimensionId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Unique ID of the ad client as used in the `AD_CLIENT_ID` reporting dimension. Present only if the ad client supports reporting."
        }
      }
    },
    "Date": {
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "type": "object",
      "properties": {
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "format": "int32",
          "type": "integer"
        },
        "day": {
          "format": "int32",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "type": "integer"
        },
        "year": {
          "type": "integer",
          "format": "int32",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
        }
      },
      "id": "Date"
    },
    "ListChildAccountsResponse": {
      "description": "Response definition for the child account list rpc.",
      "id": "ListChildAccountsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token used to page through accounts. To retrieve the next page of the results, set the next request's \"page_token\" value to this."
        },
        "accounts": {
          "description": "The accounts returned in this list response.",
          "items": {
            "$ref": "Account"
          },
          "type": "array"
        }
      }
    },
    "TimeZone": {
      "type": "object",
      "id": "TimeZone",
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones).",
      "properties": {
        "id": {
          "type": "string",
          "description": "IANA Time Zone Database time zone. For example \"America/New_York\"."
        },
        "version": {
          "description": "Optional. IANA Time Zone Database version number. For example \"2019a\".",
          "type": "string"
        }
      }
    },
    "ReportResult": {
      "id": "ReportResult",
      "description": "Result of a generated report.",
      "type": "object",
      "properties": {
        "startDate": {
          "description": "Required. Start date of the range (inclusive).",
          "$ref": "Date"
        },
        "headers": {
          "items": {
            "$ref": "Header"
          },
          "description": "The header information; one for each dimension in the request, followed by one for each metric in the request.",
          "type": "array"
        },
        "endDate": {
          "description": "Required. End date of the range (inclusive).",
          "$ref": "Date"
        },
        "totalMatchedRows": {
          "description": "The total number of rows matched by the report request.",
          "format": "int64",
          "type": "string"
        },
        "rows": {
          "items": {
            "$ref": "Row"
          },
          "description": "The output rows of the report. Each row is a list of cells; one for each dimension in the request, followed by one for each metric in the request.",
          "type": "array"
        },
        "averages": {
          "description": "The averages of the report. This is the same length as any other row in the report; cells corresponding to dimension columns are empty.",
          "$ref": "Row"
        },
        "warnings": {
          "items": {
            "type": "string"
          },
          "description": "Any warnings associated with generation of the report. These warnings are always returned in English.",
          "type": "array"
        },
        "totals": {
          "$ref": "Row",
          "description": "The totals of the report. This is the same length as any other row in the report; cells corresponding to dimension columns are empty."
        }
      }
    },
    "AdUnit": {
      "properties": {
        "state": {
          "type": "string",
          "description": "Required. State of the ad unit.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "ARCHIVED"
          ],
          "enumDescriptions": [
            "State unspecified.",
            "Ad unit has been activated by the user.",
            "Ad unit has been archived by the user. Note that archived ad units are only removed from the default view in the UI. Archived ad units can still serve ads."
          ]
        },
        "name": {
          "type": "string",
          "description": "Output only. Resource name of the ad unit. Format: accounts/{account}/adclients/{adclient}/adunits/{adunit}",
          "readOnly": true
        },
        "displayName": {
          "description": "Required. Display name of the ad unit, as provided when the ad unit was created.",
          "type": "string"
        },
        "contentAdsSettings": {
          "description": "Required. Settings specific to content ads (AFC).",
          "$ref": "ContentAdsSettings"
        },
        "reportingDimensionId": {
          "type": "string",
          "description": "Output only. Unique ID of the ad unit as used in the `AD_UNIT_ID` reporting dimension.",
          "readOnly": true
        }
      },
      "description": "Representation of an ad unit. An ad unit represents a saved ad unit with a specific set of ad settings that have been customized within an account.",
      "type": "object",
      "id": "AdUnit"
    },
    "HttpBody": {
      "type": "object",
      "id": "HttpBody",
      "description": "Message that represents an arbitrary HTTP body. It should only be used for payload formats that can't be represented as JSON, such as raw binary or an HTML page. This message can be used both in streaming and non-streaming API methods in the request as well as the response. It can be used as a top-level request field, which is convenient if one wants to extract parameters from either the URL or HTTP template into the request fields and also want access to the raw HTTP body. Example: message GetResourceRequest { // A unique request id. string request_id = 1; // The raw HTTP body is bound to this field. google.api.HttpBody http_body = 2; } service ResourceService { rpc GetResource(GetResourceRequest) returns (google.api.HttpBody); rpc UpdateResource(google.api.HttpBody) returns (google.protobuf.Empty); } Example with streaming methods: service CaldavService { rpc GetCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); rpc UpdateCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); } Use of this type only changes how the request and response bodies are handled, all other features will continue to work unchanged.",
      "properties": {
        "extensions": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "description": "Application specific response metadata. Must be set in the first response for streaming APIs."
        },
        "data": {
          "type": "string",
          "description": "The HTTP request/response body as raw binary.",
          "format": "byte"
        },
        "contentType": {
          "type": "string",
          "description": "The HTTP Content-Type header value specifying the content type of the body."
        }
      }
    },
    "ListLinkedCustomChannelsResponse": {
      "type": "object",
      "id": "ListLinkedCustomChannelsResponse",
      "description": "Response definition for the custom channels linked to an adunit list rpc.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token used to page through alerts. To retrieve the next page of the results, set the next request's \"page_token\" value to this."
        },
        "customChannels": {
          "description": "The custom channels returned in this list response.",
          "type": "array",
          "items": {
            "$ref": "CustomChannel"
          }
        }
      }
    },
    "Payment": {
      "description": "Representation of an unpaid or paid payment. See [Payment timelines for AdSense](https://support.google.com/adsense/answer/7164703) for more information about payments and the [YouTube homepage and payments account](https://support.google.com/adsense/answer/11622510) article for information about dedicated payments accounts for YouTube.",
      "type": "object",
      "properties": {
        "amount": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The amount of unpaid or paid earnings, as a formatted string, including the currency. E.g. \"¥1,235 JPY\", \"$1,234.57\", \"£87.65\"."
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Resource name of the payment. Format: - accounts/{account}/payments/unpaid for unpaid (current) AdSense earnings. - accounts/{account}/payments/youtube-unpaid for unpaid (current) YouTube earnings. - accounts/{account}/payments/yyyy-MM-dd for paid AdSense earnings. - accounts/{account}/payments/youtube-yyyy-MM-dd for paid YouTube earnings.",
          "type": "string"
        },
        "date": {
          "$ref": "Date",
          "readOnly": true,
          "description": "Output only. For paid earnings, the date that the payment was credited. For unpaid earnings, this field is empty. Payment dates are always returned in the billing timezone (America/Los_Angeles)."
        }
      },
      "id": "Payment"
    },
    "ListCustomChannelsResponse": {
      "type": "object",
      "description": "Response definition for the custom channel list rpc.",
      "id": "ListCustomChannelsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token used to page through alerts. To retrieve the next page of the results, set the next request's \"page_token\" value to this."
        },
        "customChannels": {
          "items": {
            "$ref": "CustomChannel"
          },
          "description": "The custom channels returned in this list response.",
          "type": "array"
        }
      }
    },
    "ListSavedReportsResponse": {
      "properties": {
        "savedReports": {
          "description": "The reports returned in this list response.",
          "type": "array",
          "items": {
            "$ref": "SavedReport"
          }
        },
        "nextPageToken": {
          "description": "Continuation token used to page through reports. To retrieve the next page of the results, set the next request's \"page_token\" value to this.",
          "type": "string"
        }
      },
      "description": "Response definition for the saved reports list rpc.",
      "id": "ListSavedReportsResponse",
      "type": "object"
    },
    "PolicyTopic": {
      "id": "PolicyTopic",
      "description": "Information about a particular policy topic. A policy topic represents a single class of policy issue that can impact ad serving for your site. For example, sexual content or having ads that obscure your content. A single policy issue can have multiple policy topics for a single entity.",
      "properties": {
        "topic": {
          "description": "Required. The policy topic. For example, \"sexual-content\" or \"ads-obscuring-content\".\"",
          "type": "string"
        },
        "type": {
          "description": "Optional. The type of policy topic. For example, \"POLICY\" represents all the policy topics that are related to the Google Publisher Policy (GPP). See https://support.google.com/adsense/answer/15689616.",
          "enum": [
            "POLICY_TOPIC_TYPE_UNSPECIFIED",
            "POLICY",
            "ADVERTISER_PREFERENCE",
            "REGULATORY"
          ],
          "type": "string",
          "enumDescriptions": [
            "The type is unspecified.",
            "Topics that are primarily related to the Google Publisher Policy (GPP) (https://support.google.com/publisherpolicies/answer/10502938) or the Google Publisher Restrictions (GPR) policies (https://support.google.com/publisherpolicies/answer/10437795).",
            "Topics that are related to advertiser preferences. Certain advertisers may choose not to bid on content that are labeled with certain policies.",
            "Any topics that are a result of a country or regional regulatory requirement body."
          ]
        },
        "mustFix": {
          "deprecated": true,
          "description": "Required. Deprecated. Always set to false.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "ListUrlChannelsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Continuation token used to page through url channels. To retrieve the next page of the results, set the next request's \"page_token\" value to this.",
          "type": "string"
        },
        "urlChannels": {
          "description": "The url channels returned in this list response.",
          "items": {
            "$ref": "UrlChannel"
          },
          "type": "array"
        }
      },
      "id": "ListUrlChannelsResponse",
      "type": "object",
      "description": "Response definition for the url channels list rpc."
    },
    "ListAdClientsResponse": {
      "description": "Response definition for the ad client list rpc.",
      "id": "ListAdClientsResponse",
      "properties": {
        "adClients": {
          "description": "The ad clients returned in this list response.",
          "type": "array",
          "items": {
            "$ref": "AdClient"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token used to page through ad clients. To retrieve the next page of the results, set the next request's \"page_token\" value to this."
        }
      },
      "type": "object"
    },
    "UrlChannel": {
      "type": "object",
      "id": "UrlChannel",
      "properties": {
        "reportingDimensionId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Unique ID of the custom channel as used in the `URL_CHANNEL_ID` reporting dimension."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Resource name of the URL channel. Format: accounts/{account}/adclients/{adclient}/urlchannels/{urlchannel}"
        },
        "uriPattern": {
          "type": "string",
          "description": "URI pattern of the channel. Does not include \"http://\" or \"https://\". Example: www.example.com/home"
        }
      },
      "description": "Representation of a URL channel. URL channels allow you to track the performance of particular pages in your site; see [URL channels](https://support.google.com/adsense/answer/2923836) for more information."
    },
    "ListAccountsResponse": {
      "description": "Response definition for the account list rpc.",
      "id": "ListAccountsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Continuation token used to page through accounts. To retrieve the next page of the results, set the next request's \"page_token\" value to this.",
          "type": "string"
        },
        "accounts": {
          "items": {
            "$ref": "Account"
          },
          "description": "The accounts returned in this list response.",
          "type": "array"
        }
      }
    },
    "AdBlockingRecoveryTag": {
      "properties": {
        "errorProtectionCode": {
          "description": "Error protection code that can be used in conjunction with the tag. It'll display a message to users if an [ad blocking extension blocks their access to your site](https://support.google.com/adsense/answer/11575480).",
          "type": "string"
        },
        "tag": {
          "type": "string",
          "description": "The ad blocking recovery tag. Note that the message generated by the tag can be blocked by an ad blocking extension. If this is not your desired outcome, then you'll need to use it in conjunction with the error protection code."
        }
      },
      "type": "object",
      "description": "Representation of an ad blocking recovery tag. See https://support.google.com/adsense/answer/11575177.",
      "id": "AdBlockingRecoveryTag"
    },
    "ListSitesResponse": {
      "id": "ListSitesResponse",
      "type": "object",
      "description": "Response definition for the sites list rpc.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token used to page through sites. To retrieve the next page of the results, set the next request's \"page_token\" value to this."
        },
        "sites": {
          "description": "The sites returned in this list response.",
          "type": "array",
          "items": {
            "$ref": "Site"
          }
        }
      }
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "id": "Empty",
      "properties": {}
    },
    "PolicyIssue": {
      "properties": {
        "uri": {
          "type": "string",
          "description": "Optional. URI of the page having policy violations (for example \"foo.com/bar\" or \"www.foo.com/bar\"). This will be present if the `entity_type` is `PAGE` and will be absent for other entity types."
        },
        "siteSection": {
          "description": "Optional. Prefix of the site-section having policy issues (For example \"foo.com/bar-section\"). This will be present if the `entity_type` is `SITE_SECTION` and will be absent for other entity types.",
          "type": "string"
        },
        "lastDetectedDate": {
          "$ref": "Date",
          "description": "Required. The date (in the America/Los_Angeles timezone) when policy violations were last detected on the entity."
        },
        "adRequestCount": {
          "type": "string",
          "format": "int64",
          "description": "Required. Total number of ad requests affected by the policy violations over the past seven days."
        },
        "warningEscalationDate": {
          "$ref": "Date",
          "description": "Optional. The date (in the America/Los_Angeles timezone) when the entity will have ad serving demand restricted or ad serving disabled. This is present only for issues with a `WARNED` enforcement action. See https://support.google.com/adsense/answer/11066888."
        },
        "entityType": {
          "enum": [
            "ENTITY_TYPE_UNSPECIFIED",
            "SITE",
            "SITE_SECTION",
            "PAGE"
          ],
          "enumDescriptions": [
            "The entity type is unspecified.",
            "The enforced entity is an entire website.",
            "The enforced entity is a particular section of a website. All the pages with this prefix are enforced.",
            "The enforced entity is a single web page."
          ],
          "description": "Required. Type of the entity indicating if the entity is a site, site-section, or page.",
          "type": "string"
        },
        "site": {
          "description": "Required. Hostname/domain of the entity (for example \"foo.com\" or \"www.foo.com\"). This _should_ be a bare domain/host name without any protocol. This will be present for all policy issues.",
          "type": "string"
        },
        "adClients": {
          "items": {
            "type": "string"
          },
          "description": "Optional. List of ad clients associated with the policy issue (either as the primary ad client or an associated host/secondary ad client). In the latter case, this will be an ad client that is not owned by the current account.",
          "type": "array"
        },
        "action": {
          "enumDescriptions": [
            "The action is unspecified.",
            "No ad serving enforcement is currently present, but enforcement will start on the `warning_escalation_date` if the issue is not resolved.",
            "Ad serving demand has been restricted on the entity.",
            "Ad serving has been disabled on the entity.",
            "Ads are being served for the entity but Confirmed Click is being applied to the ads. See https://support.google.com/adsense/answer/10025624.",
            "Ad personalization is restricted because the ad requests coming from the EEA and UK do not have a TCF string or the Consent Management Platform (CMP) indicated by the TCF string is not Google certified. As a result, basic/limited ads will be served. See https://support.google.com/adsense/answer/13554116."
          ],
          "description": "Required. The most severe action taken on the entity over the past seven days.",
          "type": "string",
          "enum": [
            "ENFORCEMENT_ACTION_UNSPECIFIED",
            "WARNED",
            "AD_SERVING_RESTRICTED",
            "AD_SERVING_DISABLED",
            "AD_SERVED_WITH_CLICK_CONFIRMATION",
            "AD_PERSONALIZATION_RESTRICTED"
          ]
        },
        "firstDetectedDate": {
          "$ref": "Date",
          "description": "Required. The date (in the America/Los_Angeles timezone) when policy violations were first detected on the entity."
        },
        "name": {
          "type": "string",
          "description": "Required. Resource name of the entity with policy issues. Format: accounts/{account}/policyIssues/{policy_issue}"
        },
        "policyTopics": {
          "type": "array",
          "items": {
            "$ref": "PolicyTopic"
          },
          "description": "Required. Unordered list. The policy topics that this entity was found to violate over the past seven days."
        }
      },
      "type": "object",
      "description": "Representation of a policy issue for a single entity (site, site-section, or page). All issues for a single entity are represented by a single PolicyIssue resource, though that PolicyIssue can have multiple causes (or \"topics\") that can change over time. Policy issues are removed if there are no issues detected recently or if there's a recent successful appeal for the entity.",
      "id": "PolicyIssue"
    }
  },
  "name": "adsense",
  "servicePath": "",
  "kind": "discovery#restDescription",
  "basePath": "",
  "version_module": true,
  "id": "adsense:v2",
  "resources": {
    "accounts": {
      "methods": {
        "getAdBlockingRecoveryTag": {
          "description": "Gets the ad blocking recovery tag of an account.",
          "path": "v2/{+name}/adBlockingRecoveryTag",
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "description": "Required. The name of the account to get the tag for. Format: accounts/{account}",
              "pattern": "^accounts/[^/]+$",
              "location": "path"
            }
          },
          "id": "adsense.accounts.getAdBlockingRecoveryTag",
          "response": {
            "$ref": "AdBlockingRecoveryTag"
          },
          "scopes": [
            "https://www.googleapis.com/auth/adsense",
            "https://www.googleapis.com/auth/adsense.readonly"
          ],
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v2/accounts/{accountsId}/adBlockingRecoveryTag"
        },
        "get": {
          "parameters": {
            "name": {
              "location": "path",
              "pattern": "^accounts/[^/]+$",
              "description": "Required. Account to get information about. Format: accounts/{account}",
              "required": true,
              "type": "string"
            }
          },
          "description": "Gets information about the selected AdSense account.",
          "response": {
            "$ref": "Account"
          },
          "scopes": [
            "https://www.googleapis.com/auth/adsense",
            "https://www.googleapis.com/auth/adsense.readonly"
          ],
          "path": "v2/{+name}",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v2/accounts/{accountsId}",
          "httpMethod": "GET",
          "id": "adsense.accounts.get"
        },
        "listChildAccounts": {
          "id": "adsense.accounts.listChildAccounts",
          "description": "Lists all accounts directly managed by the given AdSense account.",
          "response": {
            "$ref": "ListChildAccountsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/adsense",
            "https://www.googleapis.com/auth/adsense.readonly"
          ],
          "path": "v2/{+parent}:listChildAccounts",
          "httpMethod": "GET",
          "parameterOrder": [
            "parent"
          ],
          "parameters": {
            "parent": {
              "description": "Required. The parent account, which owns the child accounts. Format: accounts/{account}",
              "pattern": "^accounts/[^/]+$",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "pageSize": {
              "type": "integer",
              "format": "int32",
              "description": "The maximum number of accounts to include in the response, used for paging. If unspecified, at most 10000 accounts will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000.",
              "location": "query"
            },
            "pageToken": {
              "description": "A page token, received from a previous `ListChildAccounts` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListChildAccounts` must match the call that provided the page token.",
              "type": "string",
              "location": "query"
            }
          },
          "flatPath": "v2/accounts/{accountsId}:listChildAccounts"
        },
        "list": {
          "response": {
            "$ref": "ListAccountsResponse"
          },
          "flatPath": "v2/accounts",
          "scopes": [
            "https://www.googleapis.com/auth/adsense",
            "https://www.googleapis.com/auth/adsense.readonly"
          ],
          "parameters": {
            "pageToken": {
              "location": "query",
              "description": "A page token, received from a previous `ListAccounts` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAccounts` must match the call that provided the page token.",
              "type": "string"
            },
            "pageSize": {
              "location": "query",
              "description": "The maximum number of accounts to include in the response, used for paging. If unspecified, at most 10000 accounts will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000.",
              "type": "integer",
              "format": "int32"
            }
          },
          "parameterOrder": [],
          "path": "v2/accounts",
          "description": "Lists all accounts available to this user.",
          "id": "adsense.accounts.list",
          "httpMethod": "GET"
        }
      },
      "resources": {
        "payments": {
          "methods": {
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "pattern": "^accounts/[^/]+$",
                  "type": "string",
                  "description": "Required. The account which owns the collection of payments. Format: accounts/{account}"
                }
              },
              "path": "v2/{+parent}/payments",
              "description": "Lists all the payments available for an account.",
              "response": {
                "$ref": "ListPaymentsResponse"
              },
              "id": "adsense.accounts.payments.list",
              "flatPath": "v2/accounts/{accountsId}/payments",
              "parameterOrder": [
                "parent"
              ]
            }
          }
        },
        "alerts": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "id": "adsense.accounts.alerts.list",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListAlertsResponse"
              },
              "flatPath": "v2/accounts/{accountsId}/alerts",
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "description": "Lists all the alerts available in an account.",
              "path": "v2/{+parent}/alerts",
              "parameters": {
                "languageCode": {
                  "description": "The language to use for translating alert messages. If unspecified, this defaults to the user's display language. If the given language is not supported, alerts will be returned in English. The language is specified as an [IETF BCP-47 language code](https://en.wikipedia.org/wiki/IETF_language_tag).",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "type": "string",
                  "pattern": "^accounts/[^/]+$",
                  "description": "Required. The account which owns the collection of alerts. Format: accounts/{account}",
                  "location": "path",
                  "required": true
                }
              }
            }
          }
        },
        "sites": {
          "methods": {
            "get": {
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Site"
              },
              "flatPath": "v2/accounts/{accountsId}/sites/{sitesId}",
              "path": "v2/{+name}",
              "id": "adsense.accounts.sites.get",
              "parameters": {
                "name": {
                  "pattern": "^accounts/[^/]+/sites/[^/]+$",
                  "description": "Required. Name of the site. Format: accounts/{account}/sites/{site}",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "description": "Gets information about the selected site."
            },
            "list": {
              "id": "adsense.accounts.sites.list",
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "httpMethod": "GET",
              "path": "v2/{+parent}/sites",
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "The maximum number of sites to include in the response, used for paging. If unspecified, at most 10000 sites will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000.",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "A page token, received from a previous `ListSites` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListSites` must match the call that provided the page token.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "description": "Required. The account which owns the collection of sites. Format: accounts/{account}",
                  "required": true,
                  "type": "string",
                  "pattern": "^accounts/[^/]+$",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "ListSitesResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists all the sites available in an account.",
              "flatPath": "v2/accounts/{accountsId}/sites"
            }
          }
        },
        "policyIssues": {
          "methods": {
            "get": {
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "PolicyIssue"
              },
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "id": "adsense.accounts.policyIssues.get",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. Name of the policy issue. Format: accounts/{account}/policyIssues/{policy_issue}",
                  "pattern": "^accounts/[^/]+/policyIssues/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "path": "v2/{+name}",
              "httpMethod": "GET",
              "flatPath": "v2/accounts/{accountsId}/policyIssues/{policyIssuesId}",
              "description": "Gets information about the selected policy issue."
            },
            "list": {
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "A page token, received from a previous `ListPolicyIssues` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListPolicyIssues` must match the call that provided the page token.",
                  "location": "query"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "The maximum number of policy issues to include in the response, used for paging. If unspecified, at most 10000 policy issues will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000.",
                  "format": "int32"
                },
                "parent": {
                  "required": true,
                  "description": "Required. The account for which policy issues are being retrieved. Format: accounts/{account}",
                  "type": "string",
                  "location": "path",
                  "pattern": "^accounts/[^/]+$"
                }
              },
              "id": "adsense.accounts.policyIssues.list",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v2/accounts/{accountsId}/policyIssues",
              "path": "v2/{+parent}/policyIssues",
              "description": "Lists all the policy issues where the specified account is involved, both directly and through any AFP child accounts.",
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "response": {
                "$ref": "ListPolicyIssuesResponse"
              }
            }
          }
        },
        "adclients": {
          "resources": {
            "adunits": {
              "methods": {
                "listLinkedCustomChannels": {
                  "path": "v2/{+parent}:listLinkedCustomChannels",
                  "id": "adsense.accounts.adclients.adunits.listLinkedCustomChannels",
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "response": {
                    "$ref": "ListLinkedCustomChannelsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists all the custom channels available for an ad unit.",
                  "parameters": {
                    "pageToken": {
                      "description": "A page token, received from a previous `ListLinkedCustomChannels` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListLinkedCustomChannels` must match the call that provided the page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. The ad unit which owns the collection of custom channels. Format: accounts/{account}/adclients/{adclient}/adunits/{adunit}",
                      "pattern": "^accounts/[^/]+/adclients/[^/]+/adunits/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "The maximum number of custom channels to include in the response, used for paging. If unspecified, at most 10000 custom channels will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000.",
                      "format": "int32",
                      "location": "query"
                    }
                  },
                  "flatPath": "v2/accounts/{accountsId}/adclients/{adclientsId}/adunits/{adunitsId}:listLinkedCustomChannels",
                  "httpMethod": "GET"
                },
                "create": {
                  "request": {
                    "$ref": "AdUnit"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "description": "Required. Ad client to create an ad unit under. Format: accounts/{account}/adclients/{adclient}",
                      "type": "string",
                      "pattern": "^accounts/[^/]+/adclients/[^/]+$"
                    }
                  },
                  "description": "Creates an ad unit. This method can be called only by a restricted set of projects, which are usually owned by [AdSense for Platforms](https://developers.google.com/adsense/platforms/) publishers. Contact your account manager if you need to use this method. Note that ad units can only be created for ad clients with an \"AFC\" product code. For more info see the [AdClient resource](/adsense/management/reference/rest/v2/accounts.adclients). For now, this method can only be used to create `DISPLAY` ad units. See: https://support.google.com/adsense/answer/9183566",
                  "response": {
                    "$ref": "AdUnit"
                  },
                  "id": "adsense.accounts.adclients.adunits.create",
                  "path": "v2/{+parent}/adunits",
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ],
                  "httpMethod": "POST",
                  "flatPath": "v2/accounts/{accountsId}/adclients/{adclientsId}/adunits"
                },
                "get": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. AdUnit to get information about. Format: accounts/{account}/adclients/{adclient}/adunits/{adunit}",
                      "pattern": "^accounts/[^/]+/adclients/[^/]+/adunits/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v2/accounts/{accountsId}/adclients/{adclientsId}/adunits/{adunitsId}",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "AdUnit"
                  },
                  "id": "adsense.accounts.adclients.adunits.get",
                  "description": "Gets an ad unit from a specified account and ad client.",
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "path": "v2/{+name}"
                },
                "patch": {
                  "id": "adsense.accounts.adclients.adunits.patch",
                  "parameters": {
                    "updateMask": {
                      "description": "The list of fields to update. If empty, a full update is performed.",
                      "type": "string",
                      "format": "google-fieldmask",
                      "location": "query"
                    },
                    "name": {
                      "description": "Output only. Resource name of the ad unit. Format: accounts/{account}/adclients/{adclient}/adunits/{adunit}",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^accounts/[^/]+/adclients/[^/]+/adunits/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Updates an ad unit. This method can be called only by a restricted set of projects, which are usually owned by [AdSense for Platforms](https://developers.google.com/adsense/platforms/) publishers. Contact your account manager if you need to use this method. For now, this method can only be used to update `DISPLAY` ad units. See: https://support.google.com/adsense/answer/9183566",
                  "httpMethod": "PATCH",
                  "flatPath": "v2/accounts/{accountsId}/adclients/{adclientsId}/adunits/{adunitsId}",
                  "response": {
                    "$ref": "AdUnit"
                  },
                  "path": "v2/{+name}",
                  "request": {
                    "$ref": "AdUnit"
                  }
                },
                "list": {
                  "flatPath": "v2/accounts/{accountsId}/adclients/{adclientsId}/adunits",
                  "description": "Lists all ad units under a specified account and ad client.",
                  "httpMethod": "GET",
                  "path": "v2/{+parent}/adunits",
                  "parameters": {
                    "parent": {
                      "description": "Required. The ad client which owns the collection of ad units. Format: accounts/{account}/adclients/{adclient}",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^accounts/[^/]+/adclients/[^/]+$"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "A page token, received from a previous `ListAdUnits` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAdUnits` must match the call that provided the page token."
                    },
                    "pageSize": {
                      "description": "The maximum number of ad units to include in the response, used for paging. If unspecified, at most 10000 ad units will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000.",
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    }
                  },
                  "id": "adsense.accounts.adclients.adunits.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListAdUnitsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ]
                },
                "getAdcode": {
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "description": "Gets the ad unit code for a given ad unit. For more information, see [About the AdSense code](https://support.google.com/adsense/answer/9274634) and [Where to place the ad code in your HTML](https://support.google.com/adsense/answer/9190028).",
                  "path": "v2/{+name}/adcode",
                  "flatPath": "v2/accounts/{accountsId}/adclients/{adclientsId}/adunits/{adunitsId}/adcode",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "AdUnitAdCode"
                  },
                  "httpMethod": "GET",
                  "id": "adsense.accounts.adclients.adunits.getAdcode",
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the adunit for which to get the adcode. Format: accounts/{account}/adclients/{adclient}/adunits/{adunit}",
                      "pattern": "^accounts/[^/]+/adclients/[^/]+/adunits/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  }
                }
              }
            },
            "urlchannels": {
              "methods": {
                "get": {
                  "flatPath": "v2/accounts/{accountsId}/adclients/{adclientsId}/urlchannels/{urlchannelsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "path": "v2/{+name}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the url channel to retrieve. Format: accounts/{account}/adclients/{adclient}/urlchannels/{urlchannel}",
                      "pattern": "^accounts/[^/]+/adclients/[^/]+/urlchannels/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "description": "Gets information about the selected url channel.",
                  "id": "adsense.accounts.adclients.urlchannels.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "UrlChannel"
                  }
                },
                "list": {
                  "flatPath": "v2/accounts/{accountsId}/adclients/{adclientsId}/urlchannels",
                  "id": "adsense.accounts.adclients.urlchannels.list",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "response": {
                    "$ref": "ListUrlChannelsResponse"
                  },
                  "path": "v2/{+parent}/urlchannels",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "Required. The ad client which owns the collection of url channels. Format: accounts/{account}/adclients/{adclient}",
                      "pattern": "^accounts/[^/]+/adclients/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "A page token, received from a previous `ListUrlChannels` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListUrlChannels` must match the call that provided the page token."
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "location": "query",
                      "description": "The maximum number of url channels to include in the response, used for paging. If unspecified, at most 10000 url channels will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000."
                    }
                  },
                  "description": "Lists active url channels.",
                  "parameterOrder": [
                    "parent"
                  ]
                }
              }
            },
            "customchannels": {
              "methods": {
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "id": "adsense.accounts.adclients.customchannels.get",
                  "path": "v2/{+name}",
                  "description": "Gets information about the selected custom channel.",
                  "response": {
                    "$ref": "CustomChannel"
                  },
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the custom channel. Format: accounts/{account}/adclients/{adclient}/customchannels/{customchannel}",
                      "required": true,
                      "pattern": "^accounts/[^/]+/adclients/[^/]+/customchannels/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "flatPath": "v2/accounts/{accountsId}/adclients/{adclientsId}/customchannels/{customchannelsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET"
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "flatPath": "v2/accounts/{accountsId}/adclients/{adclientsId}/customchannels",
                  "description": "Lists all the custom channels available in an ad client.",
                  "path": "v2/{+parent}/customchannels",
                  "response": {
                    "$ref": "ListCustomChannelsResponse"
                  },
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "The maximum number of custom channels to include in the response, used for paging. If unspecified, at most 10000 custom channels will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000.",
                      "format": "int32"
                    },
                    "parent": {
                      "description": "Required. The ad client which owns the collection of custom channels. Format: accounts/{account}/adclients/{adclient}",
                      "required": true,
                      "pattern": "^accounts/[^/]+/adclients/[^/]+$",
                      "location": "path",
                      "type": "string"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "A page token, received from a previous `ListCustomChannels` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListCustomChannels` must match the call that provided the page token."
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "id": "adsense.accounts.adclients.customchannels.list"
                },
                "delete": {
                  "description": "Deletes a custom channel. This method can be called only by a restricted set of projects, which are usually owned by [AdSense for Platforms](https://developers.google.com/adsense/platforms/) publishers. Contact your account manager if you need to use this method.",
                  "path": "v2/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "adsense.accounts.adclients.customchannels.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ],
                  "httpMethod": "DELETE",
                  "flatPath": "v2/accounts/{accountsId}/adclients/{adclientsId}/customchannels/{customchannelsId}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. Name of the custom channel to delete. Format: accounts/{account}/adclients/{adclient}/customchannels/{customchannel}",
                      "pattern": "^accounts/[^/]+/adclients/[^/]+/customchannels/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  }
                },
                "patch": {
                  "parameters": {
                    "updateMask": {
                      "location": "query",
                      "description": "The list of fields to update. If empty, a full update is performed.",
                      "type": "string",
                      "format": "google-fieldmask"
                    },
                    "name": {
                      "type": "string",
                      "description": "Output only. Resource name of the custom channel. Format: accounts/{account}/adclients/{adclient}/customchannels/{customchannel}",
                      "pattern": "^accounts/[^/]+/adclients/[^/]+/customchannels/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "httpMethod": "PATCH",
                  "id": "adsense.accounts.adclients.customchannels.patch",
                  "response": {
                    "$ref": "CustomChannel"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v2/{+name}",
                  "description": "Updates a custom channel. This method can be called only by a restricted set of projects, which are usually owned by [AdSense for Platforms](https://developers.google.com/adsense/platforms/) publishers. Contact your account manager if you need to use this method.",
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ],
                  "flatPath": "v2/accounts/{accountsId}/adclients/{adclientsId}/customchannels/{customchannelsId}",
                  "request": {
                    "$ref": "CustomChannel"
                  }
                },
                "create": {
                  "description": "Creates a custom channel. This method can be called only by a restricted set of projects, which are usually owned by [AdSense for Platforms](https://developers.google.com/adsense/platforms/) publishers. Contact your account manager if you need to use this method.",
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ],
                  "request": {
                    "$ref": "CustomChannel"
                  },
                  "path": "v2/{+parent}/customchannels",
                  "flatPath": "v2/accounts/{accountsId}/adclients/{adclientsId}/customchannels",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The ad client to create a custom channel under. Format: accounts/{account}/adclients/{adclient}",
                      "pattern": "^accounts/[^/]+/adclients/[^/]+$",
                      "location": "path"
                    }
                  },
                  "id": "adsense.accounts.adclients.customchannels.create",
                  "response": {
                    "$ref": "CustomChannel"
                  }
                },
                "listLinkedAdUnits": {
                  "flatPath": "v2/accounts/{accountsId}/adclients/{adclientsId}/customchannels/{customchannelsId}:listLinkedAdUnits",
                  "response": {
                    "$ref": "ListLinkedAdUnitsResponse"
                  },
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "A page token, received from a previous `ListLinkedAdUnits` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListLinkedAdUnits` must match the call that provided the page token."
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The maximum number of ad units to include in the response, used for paging. If unspecified, at most 10000 ad units will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000.",
                      "location": "query"
                    },
                    "parent": {
                      "pattern": "^accounts/[^/]+/adclients/[^/]+/customchannels/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Required. The custom channel which owns the collection of ad units. Format: accounts/{account}/adclients/{adclient}/customchannels/{customchannel}",
                      "required": true
                    }
                  },
                  "httpMethod": "GET",
                  "path": "v2/{+parent}:listLinkedAdUnits",
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "description": "Lists all the ad units available for a custom channel.",
                  "id": "adsense.accounts.adclients.customchannels.listLinkedAdUnits",
                  "parameterOrder": [
                    "parent"
                  ]
                }
              }
            }
          },
          "methods": {
            "get": {
              "id": "adsense.accounts.adclients.get",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^accounts/[^/]+/adclients/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. The name of the ad client to retrieve. Format: accounts/{account}/adclients/{adclient}"
                }
              },
              "path": "v2/{+name}",
              "flatPath": "v2/accounts/{accountsId}/adclients/{adclientsId}",
              "response": {
                "$ref": "AdClient"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "description": "Gets the ad client from the given resource name.",
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ]
            },
            "getAdcode": {
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^accounts/[^/]+/adclients/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. Name of the ad client for which to get the adcode. Format: accounts/{account}/adclients/{adclient}"
                }
              },
              "response": {
                "$ref": "AdClientAdCode"
              },
              "id": "adsense.accounts.adclients.getAdcode",
              "description": "Gets the AdSense code for a given ad client. This returns what was previously known as the 'auto ad code'. This is only supported for ad clients with a product_code of AFC. For more information, see [About the AdSense code](https://support.google.com/adsense/answer/9274634).",
              "path": "v2/{+name}/adcode",
              "httpMethod": "GET",
              "flatPath": "v2/accounts/{accountsId}/adclients/{adclientsId}/adcode",
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ]
            },
            "list": {
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "Required. The account which owns the collection of ad clients. Format: accounts/{account}",
                  "required": true,
                  "pattern": "^accounts/[^/]+$",
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "description": "A page token, received from a previous `ListAdClients` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAdClients` must match the call that provided the page token.",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "description": "The maximum number of ad clients to include in the response, used for paging. If unspecified, at most 10000 ad clients will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000.",
                  "format": "int32",
                  "type": "integer"
                }
              },
              "id": "adsense.accounts.adclients.list",
              "description": "Lists all the ad clients available in an account.",
              "flatPath": "v2/accounts/{accountsId}/adclients",
              "response": {
                "$ref": "ListAdClientsResponse"
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "path": "v2/{+parent}/adclients",
              "parameterOrder": [
                "parent"
              ]
            }
          }
        },
        "reports": {
          "methods": {
            "generateCsv": {
              "httpMethod": "GET",
              "response": {
                "$ref": "HttpBody"
              },
              "description": "Generates a csv formatted ad hoc report.",
              "parameters": {
                "filters": {
                  "type": "string",
                  "repeated": true,
                  "location": "query",
                  "description": "A list of [filters](/adsense/management/reporting/filtering) to apply to the report. All provided filters must match in order for the data to be included in the report."
                },
                "endDate.month": {
                  "type": "integer",
                  "location": "query",
                  "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
                  "format": "int32"
                },
                "startDate.month": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer",
                  "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
                },
                "endDate.year": {
                  "format": "int32",
                  "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
                  "location": "query",
                  "type": "integer"
                },
                "startDate.day": {
                  "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "account": {
                  "pattern": "^accounts/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The account which owns the collection of reports. Format: accounts/{account}"
                },
                "languageCode": {
                  "type": "string",
                  "location": "query",
                  "description": "The language to use for translating report output. If unspecified, this defaults to English (\"en\"). If the given language is not supported, report output will be returned in English. The language is specified as an [IETF BCP-47 language code](https://en.wikipedia.org/wiki/IETF_language_tag)."
                },
                "currencyCode": {
                  "location": "query",
                  "description": "The [ISO-4217 currency code](https://en.wikipedia.org/wiki/ISO_4217) to use when reporting on monetary metrics. Defaults to the account's currency if not set.",
                  "type": "string"
                },
                "metrics": {
                  "type": "string",
                  "location": "query",
                  "enum": [
                    "METRIC_UNSPECIFIED",
                    "PAGE_VIEWS",
                    "AD_REQUESTS",
                    "MATCHED_AD_REQUESTS",
                    "TOTAL_IMPRESSIONS",
                    "IMPRESSIONS",
                    "INDIVIDUAL_AD_IMPRESSIONS",
                    "CLICKS",
                    "PAGE_VIEWS_SPAM_RATIO",
                    "AD_REQUESTS_SPAM_RATIO",
                    "MATCHED_AD_REQUESTS_SPAM_RATIO",
                    "IMPRESSIONS_SPAM_RATIO",
                    "INDIVIDUAL_AD_IMPRESSIONS_SPAM_RATIO",
                    "CLICKS_SPAM_RATIO",
                    "AD_REQUESTS_COVERAGE",
                    "PAGE_VIEWS_CTR",
                    "AD_REQUESTS_CTR",
                    "MATCHED_AD_REQUESTS_CTR",
                    "IMPRESSIONS_CTR",
                    "INDIVIDUAL_AD_IMPRESSIONS_CTR",
                    "ACTIVE_VIEW_MEASURABILITY",
                    "ACTIVE_VIEW_VIEWABILITY",
                    "ACTIVE_VIEW_TIME",
                    "ESTIMATED_EARNINGS",
                    "PAGE_VIEWS_RPM",
                    "AD_REQUESTS_RPM",
                    "MATCHED_AD_REQUESTS_RPM",
                    "IMPRESSIONS_RPM",
                    "INDIVIDUAL_AD_IMPRESSIONS_RPM",
                    "COST_PER_CLICK",
                    "ADS_PER_IMPRESSION",
                    "TOTAL_EARNINGS",
                    "WEBSEARCH_RESULT_PAGES",
                    "FUNNEL_REQUESTS",
                    "FUNNEL_IMPRESSIONS",
                    "FUNNEL_CLICKS",
                    "FUNNEL_RPM"
                  ],
                  "description": "Required. Reporting metrics.",
                  "enumDescriptions": [
                    "Unspecified metric.",
                    "Number of page views.",
                    "Number of ad units that requested ads (for content ads) or search queries (for search ads). An ad request may result in zero, one, or multiple individual ad impressions depending on the size of the ad unit and whether any ads were available.",
                    "Requests that returned at least one ad.",
                    "Impressions. An impression is counted for each ad request where at least one ad has been downloaded to the user's device and has begun to load. It is the number of ad units (for content ads) or search queries (for search ads) that showed ads.",
                    "Impressions. An impression is counted for each ad request where at least one ad has been downloaded to the user's device and has begun to load. It is the number of ad units (for content ads) or search queries (for search ads) that showed ads.",
                    "Ads shown. Different ad formats will display varying numbers of ads. For example, a vertical banner may consist of 2 or more ads. Also, the number of ads in an ad unit may vary depending on whether the ad unit is displaying standard text ads, expanded text ads or image ads.",
                    "Number of times a user clicked on a standard content ad.",
                    "Fraction of page views considered to be spam. Only available to [premium accounts](https://developers.google.com/adsense/management/reference/rest/v2/accounts#Account.FIELDS.premium).",
                    "Fraction of ad requests considered to be spam. Only available to [premium accounts](https://developers.google.com/adsense/management/reference/rest/v2/accounts#Account.FIELDS.premium).",
                    "Fraction of ad requests that returned ads considered to be spam. Only available to [premium accounts](https://developers.google.com/adsense/management/reference/rest/v2/accounts#Account.FIELDS.premium).",
                    "Fraction of impressions considered to be spam. Only available to [premium accounts](https://developers.google.com/adsense/management/reference/rest/v2/accounts#Account.FIELDS.premium).",
                    "Fraction of ad impressions considered to be spam. Only available to [premium accounts](https://developers.google.com/adsense/management/reference/rest/v2/accounts#Account.FIELDS.premium).",
                    "Fraction of clicks considered to be spam. Only available to [premium accounts](https://developers.google.com/adsense/management/reference/rest/v2/accounts#Account.FIELDS.premium).",
                    "Ratio of requested ad units or queries to the number returned to the site.",
                    "Ratio of individual page views that resulted in a click.",
                    "Ratio of ad requests that resulted in a click.",
                    "Ratio of clicks to matched requests.",
                    "Ratio of IMPRESSIONS that resulted in a click.",
                    "Ratio of individual ad impressions that resulted in a click.",
                    "Ratio of requests that were measurable for viewability.",
                    "Ratio of requests that were viewable.",
                    "Mean time an ad was displayed on screen.",
                    "Estimated earnings of the publisher. Note that earnings up to yesterday are accurate, more recent earnings are estimated due to the possibility of spam, or exchange rate fluctuations.",
                    "Revenue per thousand page views. This is calculated by dividing the estimated revenue by the number of page views multiplied by 1000.",
                    "Revenue per thousand ad requests. This is calculated by dividing estimated revenue by the number of ad requests multiplied by 1000.",
                    "Revenue per thousand matched ad requests. This is calculated by dividing estimated revenue by the number of matched ad requests multiplied by 1000.",
                    "Revenue per thousand ad impressions. This is calculated by dividing estimated revenue by the number of ad impressions multiplied by 1000.",
                    "Revenue per thousand individual ad impressions. This is calculated by dividing estimated revenue by the number of individual ad impressions multiplied by 1000.",
                    "Amount the publisher earns each time a user clicks on an ad. CPC is calculated by dividing the estimated revenue by the number of clicks received.",
                    "Number of ad views per impression.",
                    "Total earnings are the gross estimated earnings from revenue shared traffic before any parent and child account revenue share is applied.",
                    "Number of results pages. This metric can only be used when generating a report in the Google timezone, not the account timezone. Since the account timezone is the default for report generation, this metric can only be used by explicitly specifying `reportingTimeZone=GOOGLE_TIME_ZONE`.",
                    "Number of requests for non-ad units (for example a related search unit). For more information, see [Funnel requests](https://support.google.com/adsense/answer/11586959).",
                    "Number of requests for non-ad units ads that returned content that was shown to the user. For more information, see [Funnel impressions](https://support.google.com/adsense/answer/11585767).",
                    "Number of times a user clicked on a non-ad unit, triggering further ad requests. For more information, see [Funnel clicks](https://support.google.com/adsense/answer/11586382).",
                    "Revenue per thousand funnel impressions. This is calculated by dividing estimated revenue by the number of funnel impressions multiplied by 1000. For more information, see [Funnel RPM](https://support.google.com/adsense/answer/11585979)."
                  ],
                  "repeated": true
                },
                "dateRange": {
                  "enumDescriptions": [
                    "Unspecified date range.",
                    "A custom date range specified using the `start_date` and `end_date` fields. This is the default if no ReportingDateRange is provided.",
                    "Current day.",
                    "Yesterday.",
                    "From the start of the current month to the current day. e.g. if the current date is 2020-03-12 then the range will be [2020-03-01, 2020-03-12].",
                    "From the start of the current year to the current day. e.g. if the current date is 2020-03-12 then the range will be [2020-01-01, 2020-03-12].",
                    "Last 7 days, excluding current day.",
                    "Last 30 days, excluding current day."
                  ],
                  "type": "string",
                  "enum": [
                    "REPORTING_DATE_RANGE_UNSPECIFIED",
                    "CUSTOM",
                    "TODAY",
                    "YESTERDAY",
                    "MONTH_TO_DATE",
                    "YEAR_TO_DATE",
                    "LAST_7_DAYS",
                    "LAST_30_DAYS"
                  ],
                  "description": "Date range of the report, if unset the range will be considered CUSTOM.",
                  "location": "query"
                },
                "orderBy": {
                  "description": "The name of a dimension or metric to sort the resulting report on, can be prefixed with \"+\" to sort ascending or \"-\" to sort descending. If no prefix is specified, the column is sorted ascending.",
                  "location": "query",
                  "type": "string",
                  "repeated": true
                },
                "reportingTimeZone": {
                  "enum": [
                    "REPORTING_TIME_ZONE_UNSPECIFIED",
                    "ACCOUNT_TIME_ZONE",
                    "GOOGLE_TIME_ZONE"
                  ],
                  "type": "string",
                  "enumDescriptions": [
                    "Unspecified timezone.",
                    "Use the account timezone in the report.",
                    "Use the Google timezone in the report (America/Los_Angeles)."
                  ],
                  "location": "query",
                  "description": "Timezone in which to generate the report. If unspecified, this defaults to the account timezone. For more information, see [changing the time zone of your reports](https://support.google.com/adsense/answer/9830725)."
                },
                "limit": {
                  "format": "int32",
                  "description": "The maximum number of rows of report data to return. Reports producing more rows than the requested limit will be truncated. If unset, this defaults to 100,000 rows for `Reports.GenerateReport` and 1,000,000 rows for `Reports.GenerateCsvReport`, which are also the maximum values permitted here. Report truncation can be identified (for `Reports.GenerateReport` only) by comparing the number of rows returned to the value returned in `total_matched_rows`.",
                  "type": "integer",
                  "location": "query"
                },
                "endDate.day": {
                  "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "startDate.year": {
                  "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "dimensions": {
                  "enumDescriptions": [
                    "Unspecified dimension.",
                    "Date dimension in YYYY-MM-DD format (e.g. \"2010-02-10\").",
                    "Week dimension in YYYY-MM-DD format, representing the first day of each week (e.g. \"2010-02-08\"). The first day of the week is determined by the language_code specified in a report generation request (so e.g. this would be a Monday for \"en-GB\" or \"es\", but a Sunday for \"en\" or \"fr-CA\").",
                    "Month dimension in YYYY-MM format (e.g. \"2010-02\").",
                    "Account name. The members of this dimension match the values from Account.display_name.",
                    "Unique ID of an ad client. The members of this dimension match the values from AdClient.reporting_dimension_id.",
                    "Unique ID of a sub-account's ad client. The members of this dimension match the values from AdClient.reporting_dimension_id (for the sub-account).",
                    "Localized product name (e.g. \"AdSense for Content\", \"AdSense for Search\").",
                    "Product code (e.g. \"AFC\", \"AFS\"). The members of this dimension match the values from AdClient.product_code.",
                    "Ad unit name (within which an ad was served). The members of this dimension match the values from AdUnit.display_name.",
                    "Unique ID of an ad unit (within which an ad was served). The members of this dimension match the values from AdUnit.reporting_dimension_id.",
                    "Localized size of an ad unit (e.g. \"728x90\", \"Responsive\").",
                    "The size code of an ad unit (e.g. \"728x90\", \"responsive\").",
                    "Custom channel name. The members of this dimension match the values from CustomChannel.display_name.",
                    "Unique ID of a custom channel. The members of this dimension match the values from CustomChannel.reporting_dimension_id.",
                    "Not supported.",
                    "Domain name of a verified site (e.g. \"example.com\"). The members of this dimension match the values from Site.domain.",
                    "Unique ID of a verified site. The members of this dimension match the values from Site.reporting_dimension_id.",
                    "URL of the page upon which the ad was served. This is a complete URL including scheme and query parameters. Note that the URL that appears in this dimension may be a canonicalized version of the one that was used in the original request, and so may not exactly match the URL that a user might have seen. Note that there are also some caveats to be aware of when using this dimension. For more information, see [Page URL breakdown](https://support.google.com/adsense/answer/11988478).",
                    "Name of a URL channel. The members of this dimension match the values from UrlChannel.uri_pattern.",
                    "Unique ID of a URL channel. The members of this dimension match the values from UrlChannel.reporting_dimension_id.",
                    "Name of an ad network that returned the winning ads for an ad request (e.g. \"Google AdWords\"). Note that unlike other \"NAME\" dimensions, the members of this dimensions are not localized.",
                    "Unique (opaque) ID of an ad network that returned the winning ads for an ad request.",
                    "Localized bid type name (e.g. \"CPC bids\", \"CPM bids\") for a served ad.",
                    "Type of a bid (e.g. \"cpc\", \"cpm\") for a served ad.",
                    "Localized creative size name (e.g. \"728x90\", \"Dynamic\") of a served ad.",
                    "Creative size code (e.g. \"728x90\", \"dynamic\") of a served ad.",
                    "Localized name of a host on which an ad was served, after IDNA decoding (e.g. \"www.google.com\", \"Web caches and other\", \"bücher.example\").",
                    "Name of a host on which an ad was served (e.g. \"www.google.com\", \"webcaches\", \"xn--bcher-kva.example\").",
                    "Localized region name of a user viewing an ad (e.g. \"United States\", \"France\").",
[...]
