@font-face {
	font-display: swap;
	font-family: "Google Sans Display";
	font-style: normal;
	font-weight: 500;
	src: url("../fonts/google-sans-display/GoogleSansDisplay-Medium.woff2") format("woff2");
}

@font-face {
	font-display: swap;
	font-family: "Google Sans Display";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/google-sans-display/GoogleSansDisplay-Regular.woff2") format("woff2");
}

@font-face {
	font-display: swap;
	font-family: "Google Sans Text";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/google-sans-text/GoogleSansText-Regular.woff2") format("woff2");
}

@font-face {
	font-display: swap;
	font-family: "Google Sans Display";
	font-style: normal;
	font-weight: 700;
	src: url("../fonts/google-sans-display/GoogleSansDisplay-Bold.woff2") format("woff2");
}
