.googlesitekit-single-select {

	.googlesitekit-survey__body {

		padding: $grid-gap-phone;

		@media (min-width: $bp-desktop) {
			padding: $grid-gap-phone $grid-gap-desktop;
		}
	}

	.googlesitekit-single-select__choice {
		align-items: center;
		display: flex;
		flex-wrap: wrap;
	}

	.mdc-text-field {
		flex-grow: 1;
		height: 35px;
		margin-left: 10px;
		width: auto;

		.mdc-text-field__input {
			background: transparent;
			font-size: $fs-body-sm;
			letter-spacing: $ls-xs;
		}
	}
}
