.googlesitekit-single-select {

	.googlesitekit-survey__body {

		padding: $grid-gap-phone;

		@media (min-width: $bp-desktop) {
			padding: $grid-gap-phone $grid-gap-desktop;
		}
	}

	.googlesitekit-single-select__choice {
		display: flex;
		flex-wrap: wrap;

		// Check is correct target
		.googlesitekit-single-select__choice__input {
			// transparent background
			background: transparent;

			// same height as radio button - TODO measure
			// height: 36px;

			// Font size should be set to 12px
			font-size: 12px;

		}
	}

	.mdc-text-field {
		flex-grow: 1;
		margin-left: 10px;
		width: auto;
	}
}
