/*
 * Configuration Options
 */
@import "../../config/variables";

body:not(.swg--is-amp) article:not(.swg--page-is-unlocked) .swg--locked-content {
	opacity: 0;
	user-select: none;
}

@supports (filter: blur(4px)) {

	body:not(.swg--is-amp) article .swg--locked-content {
		transition: filter 0.6s;
	}

	body:not(.swg--is-amp) article:not(.swg--page-is-unlocked) .swg--locked-content {
		animation: fadeIn 0.3s ease-in forwards;
		display: block;
		filter: blur(4px);
		transition: filter 0s;

		img {
			filter: blur(12px);
		}
	}
}

button.swg-button {
	background-color: $c-white !important;
}

button.swg-button:hover {
	background-color: $c-alabaster !important;
}

@keyframes fadeIn {

	from {
		opacity: 0;
	}

	to {
		opacity: 0.8;
	}
}
