/*
 * Configuration Options
 */
@import "../../config/variables";

body:not(.swg--is-amp) article .swg--locked-content {
	opacity: 1;

	$transition-duration: 0.3s;

	transition: opacity $transition-duration, filter $transition-duration;

	img {
		transition: opacity $transition-duration, filter $transition-duration;
	}
}

body:not(.swg--is-amp) article:not(.swg--page-is-unlocked) .swg--locked-content {
	opacity: 0;
	user-select: none;
}

@supports (filter: blur(4px)) {

	body:not(.swg--is-amp) article:not(.swg--page-is-unlocked) .swg--locked-content {
		display: block;
		filter: blur(4px);
		opacity: 0.5;
		transition: filter 0s;

		img {
			filter: blur(12px);
		}
	}
}

button.swg-button {
	background-color: $c-white !important;
}

button.swg-button:hover {
	background-color: $c-alabaster !important;
}
