name: Publish codegen Docker Image

on:
  push:
    branches:
      - develop
    paths:
      - 'codegen/Dockerfile'
      - 'codegen/library.lock'
      - '.github/workflows/publish-codegen-docker-image.yml'
  workflow_dispatch:

permissions:
  contents: read
  packages: write

jobs:
  build-and-push:
    name: Build and Push Docker Image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: google-site-kit-bot
          password: ${{ secrets.GH_BOT_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Load codegen library version
        id: library_version
        run: |
          LIBRARY_SHA=$(cat codegen/library.lock)
          echo "sha=$LIBRARY_SHA" >> "$GITHUB_OUTPUT"

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          build-args: | 
            LIBRARY_SHA=${{ steps.library_version.outputs.sha }}
          tags: ghcr.io/google/site-kit-wp/codegen:${{ steps.library_version.outputs.sha }}
          context: codegen
          push: true
          platforms: linux/amd64,linux/arm64
