name: Visual Regression Testing

on:
  pull_request:
    branches:
      - main
      - develop
      - 'feature/**'
    # Only run if CSS/JS related files changed.
    paths:
      - '.github/workflows/visual-regression.yml'
      - 'assets/**'
      - '!assets/**/__tests__/**/*.js'
      - '!assets/**/test/*.js'
      - '!assets/**/*.test.js'
      - '**.stories.js'
      - 'tests/backstop/**'
      - 'storybook/**'
      - '**.scss'
      - '.nvmrc'
      - '**/package.json'
      - 'package-lock.json'
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review
  schedule:
      - cron: '12,42 * * * *' # Every hour at 12 and 42 minutes past the hour

concurrency:
  group: visual-regression-${{ github.ref }}
  cancel-in-progress: true

jobs:
  visual-regression:
    name: Run VR Tests
    runs-on: ubuntu-latest
    timeout-minutes: 30
    if: github.event.pull_request.draft == false
    steps:
      - uses: actions/checkout@v4
      - name: Setup Node.js (.nvmrc)
        uses: actions/setup-node@v4
        with:
          node-version-file: .nvmrc
          cache: npm
      - name: npm install
        run: npm i -w assets -w tests/backstop -w storybook -w tests/js --include-workspace-root
      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: google-site-kit-bot
          password: ${{ secrets.GH_BOT_TOKEN }}
      - name: Run Backstopjs (Run 1)
        run: npm run test:visualtest
      - name: Run Backstopjs (Run 2)
        run: npm run test:visualtest
      - name: Run Backstopjs (Run 3)
        run: npm run test:visualtest
      - name: Run Backstopjs (Run 4)
        run: npm run test:visualtest
      - name: Run Backstopjs (Run 5)
        run: npm run test:visualtest
      - name: Run Backstopjs (Run 6)
        run: npm run test:visualtest
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: vrt-report
          path: |
            tests/backstop/ci_report
            tests/backstop/html_report
            tests/backstop/json_report
            tests/backstop/reference
            tests/backstop/tests
