name: Plugin Zip Files

on:
  push:
    branches:
      - develop
      - master
    tags: ['**']
  pull_request:
    types:
      - opened
      - closed
      - reopened
      - synchronize

jobs:
  build-zips:
    name: Build Zips
    runs-on: ubuntu-latest
    if: false == ( ( github.event_name == 'pull_request' && github.event.action == 'closed' ) || github.event.pull_request.head.repo.fork )
    steps:
      - uses: actions/checkout@v2
      - name: Get Composer Cache Directory
        id: composer-cache
        run: |
          echo "::set-output name=dir::$(composer config cache-files-dir)"
      - uses: actions/cache@v1
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-composer-
      - name: Composer Install
        run: composer install
      # - name: Composer Install
      #   uses: php-actions/composer@v2
      #   with:
      #     dev: no
      - name: Read .nvmrc
        run: echo "##[set-output name=NVMRC;]$(cat .nvmrc)"
        id: nvm
      - name: Setup Node.js (.nvmrc)
        uses: actions/setup-node@v1
        with:
          node-version: "${{ steps.nvm.outputs.NVMRC }}"
      - name: Cache Node - npm
        uses: actions/cache@v1
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-cache-
      - name: npm install
        run: |
          npm ci
      - name: Create destination directory
        run: mkdir -p ${{ github.ref }}
      - name: Build develop version
        run: |
          npm run dev-zip
          mv *.zip ${{ github.ref }}/google-site-kit-dev.zip
      - name: Build release version
        run: |
          npm run release-zip
          mv *.zip ${{ github.ref }}/google-site-kit.zip
      - name: Upload artifacts
        uses: actions/upload-artifact@v1
        with:
          name: zip-files
          path: ${{ github.ref }}

  deploy-to-wiki:
    name: Deploy To Wiki
    runs-on: ubuntu-latest
    needs: build-zips
    steps:
      - uses: actions/checkout@v2
        with:
          repository: ${{ github.repository }}.wiki
          ref: master
          token: ${{ secrets.GITHUB_PERSONAL_ACCESS_TOKEN }}
      - name: Download artifacts
        uses: actions/download-artifact@v1
        with:
          name: zip-files
          path: ${{ github.ref }}
      - name: Commit updates
        run: |
          git add .
          git status
          git diff --staged --quiet && echo 'No changes to commit; exiting!' && exit 0
          git pull --no-edit --quiet
          git commit -m "Build and publish ${{ github.ref }}"
          git push origin master
        env:
          GIT_AUTHOR_EMAIL: ${{ github.actor }}@users.noreply.github.com
          GIT_AUTHOR_NAME: ${{ github.actor }}
          GIT_COMMITTER_EMAIL: ${{ github.actor }}@users.noreply.github.com
          GIT_COMMITTER_NAME: ${{ github.actor }}

  remove-pr:
    name: Remove Zips
    runs-on: ubuntu-latest
    if: ( github.event_name == 'pull_request' && github.event.action == 'closed' ) && github.event.pull_request.head.repo.fork == false
    steps:
      - uses: actions/checkout@v2
        with:
          repository: ${{ github.repository }}.wiki
          ref: master
          token: ${{ secrets.GITHUB_PERSONAL_ACCESS_TOKEN }}
      - name: Prune PR files
        run: |
          rm -rf "refs/pull/${{ github.event.pull_request.number }}"
          git add .
          git status
          git diff --staged --quiet && echo 'No changes to commit; exiting!' && exit 0
          git pull --no-edit --quiet
          git commit -m "Prune refs/pull/${{ github.event.pull_request.number }}"
          git push origin master
        env:
          GIT_AUTHOR_EMAIL: ${{ github.actor }}@users.noreply.github.com
          GIT_AUTHOR_NAME: ${{ github.actor }}
          GIT_COMMITTER_EMAIL: ${{ github.actor }}@users.noreply.github.com
          GIT_COMMITTER_NAME: ${{ github.actor }}
